<div class="container px-4 py-5">
    <header class="d-flex justify-content-between border-bottom align-items-center">
        <h2 class="pb-2">Categories</h2>
        <a href=""><span class="text-end d-block text-primary">View All</span></a>
    </header>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <% include('../components/category') %> 
    </div>
</div>