<div class="container px-4 py-5" id="custom-cards">
    <header class="d-flex justify-content-between border-bottom align-items-center">
        <h2 class="pb-2">Products</h2>
        <a href=""><span class="text-end d-block text-primary">View All</span></a>
    </header>      
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <%- include('../components/product-home.ejs')  %> 
    </div>
</div>